/* welcome font: */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
/* contract font: */
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");
/* font-family: 'Moon Dance', cursive; */

.App {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
}

body {
  background-image: url("https://artbreeder.b-cdn.net/imgs/d46a830c4752d0d835239d5b82f4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

/* welcome page styling: */
#welcome-page {
  font-family: "Luxurious Roman", cursive;
}

#title {
  padding: 50px;
}

#welcome {
  display: flex;
  margin: 50px 400px 100px 400px;
  padding: 10px;
  background-color: rgb(245, 245, 245, 0.4);
  /* opacity: 0.4; */
  border-radius: 8px;
}

#choose-fighter {
  font-family: "Luxurious Roman", cursive;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
}

/* character page styling: */

.choose {
  font-family: "Luxurious Roman", cursive;
}

.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.picture {
  border-radius: 8px;
  box-shadow: 4px 4px 5px;
}

.class {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description {
  background-color: rgb(245, 245, 245, 0.4);
  /* opacity: 0.4; */
  border-radius: 8px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 5px;
}

/* contract/rules styling: */

#rules {
  font-family: "Luxurious Roman", cursive;
}

#parchment {
  background-image: url("https://media.istockphoto.com/photos/old-dirty-paper-texture-picture-id1133497899?k=20&m=1133497899&s=612x612&w=0&h=prcfczBW4lvGL2MMa4p5Amptoop924QBgYX_1eJYzoU=");
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px;
}

#contract {
  padding-top: 30px;
  margin-bottom: 50px;
}

#help {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

#directions {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
}

#battle {
  font-family: "Luxurious Roman", cursive;
  margin-top: 30px;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
}

/* Battle Styling: NOT DONE YET! */

#body-div {
  font-family: "Luxurious Roman", cursive;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.battle-pic {
  border-radius: 8px;
  box-shadow: 4px 4px 5px;
}

#pc-health {
  background-color: rgb(245, 245, 245, 0.4);
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 8px;
}

.monster-pic {
  border-radius: 8px;
  box-shadow: 4px 4px 5px;
}

.monster-class {
  background-color: rgb(245, 245, 245, 0.4);
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 8px;
}

.monster-health {
  background-color: rgb(245, 245, 245, 0.4);
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 8px;
}

.monster-description {
  background-color: rgb(245, 245, 245, 0.4);
  border-radius: 8px;
}
